In [1]:
import numpy as np
import pandas as pd 
import os 
pd.options.mode.chained_assignment = None

In [2]:
os.chdir('C:/Users/rodri/Desktop/NCFS2/DistComp/proj2')

In [3]:
csv_file = "./uber_2015_processed.csv"
df2015= pd.read_csv(csv_file,sep=',')

In [4]:
df2015.head()

,datetime,lat,lon,base,locationID,borough,zone
0,2015-01-01 00:00:05,40.7188,-73.9574,B02764,255,Brooklyn,Williamsburg (North Side)
1,2015-01-01 00:00:05,40.7209,-73.9969,B02598,144,Manhattan,Little Italy/NoLiTa
2,2015-01-01 00:00:08,40.7326,-73.9943,B02682,113,Manhattan,Greenwich Village North
3,2015-01-01 00:00:11,40.7403,-73.9905,B02617,234,Manhattan,Union Sq
4,2015-01-01 00:00:13,40.7147,-73.9830,B02764,232,Manhattan,Two Bridges/Seward Park

In [5]:
df2015['date']=pd.to_datetime(df2015['datetime']).dt.date

In [6]:
csv_file = "./US Bank holidays"
hdays = pd.read_csv(csv_file,sep=',')

In [7]:
hdays = hdays.drop(['id'],axis=1)

In [8]:
hdays_2014 = hdays[(hdays['date'] >= '2014-01-01') & (hdays['date'] <= '2014-12-31')]
hdays_2015 = hdays[(hdays['date'] >= '2015-01-01') & (hdays['date'] <= '2015-12-31')]

In [10]:
hdays_2015['date'] = hdays_2015['date'].astype(str).str.strip()

In [11]:
df2015['date'] = df2015['date'].astype(str).str.strip()

In [13]:
df2015hdays = df2015.merge(hdays_2015,left_on='date',right_on='date',how='left')

In [14]:
df2015hdays.head()

,datetime,lat,lon,base,locationID,borough,zone,date,holiday
0,2015-01-01 00:00:05,40.7188,-73.9574,B02764,255,Brooklyn,Williamsburg (North Side),2015-01-01,New Year Day
1,2015-01-01 00:00:05,40.7209,-73.9969,B02598,144,Manhattan,Little Italy/NoLiTa,2015-01-01,New Year Day
2,2015-01-01 00:00:08,40.7326,-73.9943,B02682,113,Manhattan,Greenwich Village North,2015-01-01,New Year Day
3,2015-01-01 00:00:11,40.7403,-73.9905,B02617,234,Manhattan,Union Sq,2015-01-01,New Year Day
4,2015-01-01 00:00:13,40.7147,-73.9830,B02764,232,Manhattan,Two Bridges/Seward Park,2015-01-01,New Year Day

In [18]:
df2015hdays = df2015hdays.dropna()